<h2>Add Mechanics</h2>
<form>
    <label for="mname">Mechanic Name</label><br>
    <input type="text" placeholder="Enter Mechanic Name" id="mname" name="mname"><br>
    <label for="mcontact">Mechanic Contact No</label><br>
    <input type="text" placeholder="Enter Contact Number" id="mcontact" name="mcontact"><br>
    <label for="memail">Mechanic Email</label><br>
    <input type="text" placeholder="Enter Mechanic Email" id="memail" name="memail"><br>
    <label for="maddress">Mechanic Address</label><br>
    <input type="text" placeholder="Enter Address" id="maddress" name="maddress"><br>
    <input type="submit" value="Submit">
  </form>