<h2>All Response Enquiry</h2>
<h4>All Response Enquiry</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th> # </th>
            <th> Enquiry Type</th>
            <th> Enquiry Number</th>
            <th> Full Name</th>
            <th>Mobile Number</th>
            <th> Email</th>
            <th>Enquiry Date</th>
            <th>Action</th>
        </tr>
    </thead>
      <thead>
        <tr>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th></th>
            <th></th>
            <th></th>
            <button type="button">view</button>
        </tr>
    </thead>
    <thead>
        <tr>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th></th>
            <th></th>
            <th></th>
            <button type="button">view</button>
        </tr>
    </thead>
    <thead>
        <tr>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <button type="button">view</button>
        </tr>
    </thead>
  </table>
  
