<h2>Change Password</h2>
<h4>Change Password</h4>
<form>
    <label for="cpwd">Current Password</label><br>
    <input type="text" placeholder="Enter Current Password" id="cpwd" name="cpwd"><br>
    <label for="npwd">New Password</label><br>
    <input type="text" placeholder="Enter Contact Number" id="npwd" name="npwd"><br>
    <label for="cpwd">Confirm Password</label><br>
    <input type="text" placeholder="Enter Confirm Password" id="cpwd" name="cpwd"><br>
    <input type="submit" value="Submit">
  </form>


