<h2>Complete Servicing</h2>
<h4>Complete Servicing</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th> # </th>
            <th> Service Number</th>
            <th> Vehicle Category</th>
            <th> Full Name</th>
            <th>Mobile Number</th>
            <th> Email</th>
            <th>Action</th>
        </tr>
    </thead>
      <thead>
        <tr>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th></th>
            <th></th>
            <button type="button">view</button>
        </tr>
    </thead>
    <thead>
        <tr>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th></th>
            <th></th>
            <button type="button">view</button>
        </tr>
    </thead>
    <thead>
        <tr>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th></th>
            <th></th>
            <button type="button">view</button>
        </tr>
    </thead>
  </table>
  
