
<h2>Dashboard</h2>
<h1 mat-dialog-title></h1>

<div class="col-md-6">Total Registered User</div>
<!-- <div>Total Enquiry</div> -->
<h1 mat-dialog-title></h1>
<div class="col-md-6">Total Enquiry</div>
<h1 mat-dialog-title></h1>
<div mat-dialog-content>
   Total Mechanics
</div>
<h1 mat-dialog-title></h1>
<div mat-dialog-content>
   Total Service Requests
</div>
<h1 mat-dialog-title></h1>
<div mat-dialog-content>
   New Service Requests
</div>
<h1 mat-dialog-title></h1>
<div mat-dialog-content>
   Rejected Service Requests
</div>
<h1 mat-dialog-title></h1>
<div mat-dialog-content>
   Completed Services
</div>
