<h2>Manage Category</h2>
<table class="table table-striped">
  <thead>
      <tr>
          <th> # </th>
          <th> Category Name</th>
          <th> Action</th>
      </tr>
  </thead>
    <thead >
      <tr>
          <th> 1</th>
          <th> Two Wheeler</th>
          <td class="fnts">
            <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
            <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
        </td>
      </tr>
  </thead>
  <thead>
    <tr>
        <th> 2</th>
        <th> Four Wheeler</th>
        <td>
          <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
          <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
      </td>
    </tr>
</thead>
<thead>
  <tr>
      <th> 3</th>
      <th> Three Wheeler</th>
      <td>
        <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
        <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
    </td>
  </tr>
</thead>
    
</table>
