<mat-card>
    <mat-action-list>
        <div class="list">
            <ul>
                <li><mat-icon mat-list-icon>people</mat-icon></li>
                <li>Admin</li>
                <li><mat-icon mat-list-icon>fiber_manual_record</mat-icon></li>
                <li>Online</li>
            </ul>
        </div>
        <button mat-list-item  routerLink="/login/dashboard">
            <mat-icon mat-list-icon>dashboard</mat-icon>Dashboard</button>
        </mat-action-list>
        </mat-card>